    body{
      border: solid 3px aquamarine;
      text-align: center;
      height: 10%;
      width: 15%;
    }
    body:hover{
        box-shadow: 5px 5px 10px cadetblue;
    }

    h3{
        color:grey;
    }
    
    #Signature{
        font-size: 15px;
    }

    button{
        background: none;
        padding: 10px;
    }
    button:hover{
        color: grey;
    }

