nav{
    background-color: blue;
    border: 1px darkblue;
    padding: 15px;

}

li{
    display:inline;
    padding: 15px
}

a{
    color: white;
    text-decoration: none;
    font-size: x-large;
    padding: 10px;
}