
<html>
    <body>
        <nav>
            <ul>
                <li>
                    <a class="nav-link" routerLink="/home" >HomePage</a>
                </li>
                <li>
                    <a class="nav-link" routerLink="/create" >New Article</a>
                </li>
                <li>
                    <a class="nav-link" routerLink="/articles" routerLinkActive="active">Article List</a>
                </li>
            </ul>
        </nav>
        <router-outlet></router-outlet>
    </body>
</html>