h3{
    font-size: x-large;
}
div{
    padding: 1%;
}
label{
    font-weight: bold;
}
input{
    padding: 0.5%;
}
button{
    background: none;
    background-color: blue;
    color: white;
    font-size: 20px;
}